@model IEnumerable<iCare_ePrescribing_System.Models.Ward>

@{
    ViewData["Title"] = "Ward";
    Layout = "_MainLayout";
}

<div class="p-4">
    <div class="welcome">
        <div class="content rounded-3 p-3">
            <h1 class="navbar-brand" href="#"> <span class="main-color">wards</span></h1>
        </div>
    </div>
    <br />

    <div style="background-color:whitesmoke;">

        <h1>Ward</h1>

        <p>
            <a asp-controller="Admin" asp-action="CreateWard">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoOfBeds)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfBeds)
                        </td>
                        <td>
                            @* <a  asp-action="Edit" asp-route-id="@item.WardID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.WardID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.WardID">Delete</a> |  *@
                            <a class="btn btn-secondary" asp-action="ViewBeds" asp-route-id="@item.WardID">Beds</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

