@model IEnumerable<iCare_ePrescribing_System.Models.Prescription>
@using Microsoft.AspNetCore.Identity
@using iCare_ePrescribing_System.Data
@inject SignInManager<StaffMembers> SignInManager
@inject UserManager<StaffMembers> UserManager
@{
    ViewData["Title"] = "Pharmacist Dashboard";
    Layout = "PharmaLayout";
    string ProfilePicture = " ";
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section id="wrapper">
        <div class="welcome">`
            <div class="content rounded-3 p-3">
                <h1 class="navbar-brand" href="#"> <span class="main-color">Prescription</span></h1>
            </div>
        </div>
        <br />
    <form class="form-control border-primary" asp-controller="Pharma" asp-action="Prescription" style="background-color:whitesmoke;width:auto" method="get">
        <div class="input-group mb-3">
            <label><b>Select To Search Record:</b>&nbsp; &nbsp;  </label>
            <select value="@ViewData["SearchRecord"]" name="recordSearh">
                <option selected class="border border-primary">---Please Select---</option>
                <option value="y" class="border border-primary" name="recordSearh">Urgent</option>
                <option value="n" class="border border-primary" name="recordSearh">Not Urgent</option>
            </select>
            <input class="btn btn-secondary" type="submit" value="Search">&nbsp; &nbsp;
            <a asp-controller="Pharma" asp-action="Prescription" class="btn btn-success">View All</a>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                <strong>Note ! </strong>@TempData["ErrorMessage"]
            </div>
        }
        <section class="charts mt-4">
            <div>
                <p><i>Legend for priority Status Icons</i></p>
                <ul>
                    <li>
                        <span style="font-size: 12px;">🔵</span>
                        <strong>Meaning:</strong> The prescription is <em>not urgent</em>.
                    </li>
                    <li>
                        <span style="font-size: 12px;">🔴</span>
                        <strong>Meaning:</strong> The prescription is <em>urgent</em>. 
                    </li>
                </ul>
            </div>
            <table class="table caption-top">
                @if (Model != null)
                {
                    <thead>
                        <tr>
                            <th scope="col">Surgeon Responsible</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Received Date</th>
                            <th scope="col">Received Time</th>
                            <th scope="col">Priority Status</th>
                            <th>View Prescription</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                    </thead>
                    <tbody>
                        @foreach (var y in Model)
                        {
                            <tr>
                                <td>@y.RegisteredStaff.Name &nbsp; &nbsp;@y.RegisteredStaff.Surname</td>
                                <td>@y.Patient.Name &nbsp; &nbsp;@y.Patient.Surname</td>
                                <td>@y.DateIssued.ToString("dd MMMM yyyy")</td>
                                <td>@y.DateIssued.ToString("t")</td>
                                @if (y.UrgentStatus == 'n' || y.UrgentStatus == 'N')
                                {
                                    <td style='font-size:25px;'>&#128309;</td>
                                }
                                else
                                {
                                    <td style='font-size:25px;'>&#128308;</td>
                                }
                                <td> <a class="btn btn-primary" asp-controller="Pharma" asp-action="Despense" asp-route-id="@y.PrescriptionId">View Prescription</a></td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <labe>No Record Found</labe>
                }
            </table>
        </section>
    </form>

</section>

