@using iCare_ePrescribing_System.ViewModels
@model UserViewModel
@using Microsoft.AspNetCore.Identity
@using iCare_ePrescribing_System.Data
@inject SignInManager<StaffMembers> SignInManager
@inject UserManager<StaffMembers> UserManager
@{
    ViewData["Title"] = "Edit";
    Layout = "PharmaLayout";
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
        <img class="rounded-pill img-fluid"
             width="65"
             src="../images/@Html.DisplayFor(modelItem=>user.image)"
             alt="">
        <div class="ms-2">
            <h5 class="fs-6 mb-0">
                @user.FullName
            </h5>
        </div>
    </div>
    <ul class="categories list-unstyled" style="color:black">
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-house"></i><a asp-controller="Dashboard" asp-action="Pharmacist" style="color:black">DashBoard</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-user-edit me-2"></i><a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" style="color:black;">
                Edit Profile
            </a>
        </li>
        <li class="has-dropdown" style="background-color:#DCDCDC;">
            <i class="fa-solid fa-camera"></i><a asp-controller="User" asp-action="EditProfile" asp-route-id="@Model.Id" style="color:black;">
                Edit Profile Picture
            </a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-prescription-bottle-medical"></i><a asp-controller="Pharma" asp-action="Prescription" style="color:black">View Active Prescriptions</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-calendar-days"></i><a asp-controller="Pharma" asp-action="ViewDespensed" style="color:black">View Prescription History</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-notes-medical"></i>
            <a asp-controller="Pharma" asp-action="Medication" style="color:black">Add Medication</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-tablets"></i>
            <a asp-controller="Pharma" asp-action="ViewMed" style="color:black">View Medication</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-arrow-up-wide-short"></i>
            <a asp-controller="Pharma" asp-action="OrderMed" style="color:black">Order Medication</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <a asp-controller="Pharma" asp-action="Stock" style="color:black">View Order History</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-plus"></i>
            <a asp-controller="Pharma" asp-action="CaptureStock" style="color:black">Capture Received Stock</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-warehouse"></i>
            <a asp-controller="Pharma" asp-action="StockCaptured" style="color:black">View Captured Stock</a>
        </li>
        <li class="has-dropdown" style="padding: 10px 0;">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a asp-controller="Home" asp-action="Index">Logout</a>
        </li>
    </ul>
</aside>
<section id="wrapper">
    <div class="container mt-3">
        <div class="welcome">
            <div class="content rounded-3 p-3">
                <h1 class="navbar-brand" href="#"> <span class="main-color">Profile Picture</span></h1>
            </div>
        </div>
        <br />
        <form class="form-control border-primary" style="background-color:whitesmoke" class="row g-3" asp-action="EditProfile" enctype="multipart/form-data">
            <div class="row jumbotron box8">
                <input type="hidden" asp-for="@Model.Id" />

                <input asp-for="@Model.image" class="form-control" hidden>
                <h5>Edit Profile Picture</h5>
                <hr />
                
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Note ! </strong>@TempData["ErrorMessage"]
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Note ! </strong>@TempData["Error"]
                    </div>
                }
                @if (Model.image != null)
                {
                    <div class="col-sm-6 form-group">
                        <label for="name-f">Profile Picture</label>
                        <input asp-for="@Model.ProfilePhoto"/>
                    </div>
                }
                else
                {
                    <div class="col-sm-6 form-group">
                        <label for="name-f">Profile Picture</label>
                        <input asp-for="@Model.ProfilePhoto"/>
                    </div>
                }
                <div class="col-sm-6 form-group" hidden>
                    <label>First Name</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" >
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Last name</label>
                    <input asp-for="@Model.Surname" type="text" class="form-control" placeholder="Enter employee surname." >
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Email</label>
                    <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Enter your email.">
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Date Of Birth</label>
                    <input asp-for="@Model.BirthDate" type="Date" class="form-control" placeholder="">
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Gender</label>
                    <select asp-for="@Model.Gender" class="form-control browser-default custom-select" >
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="unspesified">Do not Specify</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Cellphone Number</label>
                    <input asp-for="@Model.Number" type="number" class="form-control" minlength="10" maxlength="10" >
                </div>
                <div class="col-sm-6 form-group" hidden>
                    <label>Health Council Registration Number</label>
                    <input asp-for="@Model.HealthCouncilRegistrationNumber" type="text" class="form-control" >
                </div>
                @for (var i = 0; i < Model.Roles.Count; i++)
                {
                    <div class="col-md-12" hidden>
                        @Html.CheckBoxFor(s=> Model.Roles[i].Selected )
                        @Html.HiddenFor(s=> Model.Roles[i].Value)
                        @Html.LabelFor(s=> Model.Roles[i].Selected, Model.Roles[i].Text, new {@class="form-check-label" })
                        @Html.HiddenFor(s=> Model.Roles[i].Text)
                    </div>
                }
                
                <br />
                <div class="col-12">
                    <br />
                    <button type="submit" class="btn btn-primary">Change Profile Picture</button>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }