@model iCare_ePrescribing_System.ViewModels.AdminDashboardVM
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_MainLayout";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
        <img class="rounded-pill img-fluid"
             width="65"
             src=""
             alt="">
        <div class="ms-2">
            <h5 class="fs-6 mb-0">
                @TempData["FullName"]
            </h5>
        </div>
    </div>
    <ul class="categories list-unstyled" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
        <li class="has-dropdown" style="background-color:#DCDCDC;">
            <i class="fa-solid fa-house"></i><a asp-controller="Dashboard" asp-action="Admin" style="color:black">Home</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-users"></i>
            <a asp-controller="User" asp-action="AddUser" style="color:black;">Register User</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-users-viewfinder"></i><a asp-controller="User" asp-action="Index" style="color:black;">View Staff Members</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-mortar-pestle"></i>
            <a asp-controller="Admin" asp-action="MedDosageForm" style="color:black;">Add Dosage Form</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-flask-vial"></i>
            <a asp-controller="Admin" asp-action="MedIngedients" style="color:black;">Add Ingredients</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-house-medical-flag"></i>
            <a asp-controller="Admin" asp-action="MedSchedules" style="color:black;">Add Schedule</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-hospital-user"></i>
            <a asp-controller="Admin" asp-action="Ward" style="color:black;">Ward/Bed management</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-clinic-medical"></i>
            <a asp-controller="Admin" asp-action="Index" style="color:black;">Day Hospital Details</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-notes-medical"></i>
            <a asp-controller="Admin" asp-action="ConditionDiagnosis" style="color:black;">Conditions</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-heartbeat"></i>
            <a asp-controller="Admin" asp-action="VitalRange" style="color:black;">Vital Range</a>
        </li>
       
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-exclamation-triangle"></i>
            <a asp-controller="Admin" asp-action="MedContra" style="color:black;">Contra-Indication</a>
        </li>
        <li class="has-dropdown" style="border-bottom: 1px solid #ccc; padding: 10px 0;">
            <i class="fa-solid fa-exchange"></i>
            <a asp-controller="Admin" asp-action="MedInteraction" style="color:black;">Medication Interaction</a>
        </li>
        <li class="has-dropdown" style="padding: 10px 0;">
            <i class="fa-solid fa-right-from-bracket"></i><a style="color:black;"> Log Out</a>
        </li>
    </ul>
</aside>
<section id="wrapper" class="bg-light">
    <div class="p-4">
        <div class="welcome">
            <div class="content rounded-3 p-3">
                <h1 class="navbar-brand" href="#">Admin<span class="main-color"> Dashboard</span></h1>
                <p class="mb-0">Welcome back, @TempData["FullName"]</p>
            </div>
        </div>
        <section class="statis mt-4 text-center">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="box bg-info p-3">
                        <i class="uil-users-alt"></i>
                        <h3>@Model.TotalUsers</h3>
                        <p class="lead">Total Users</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="box bg-warning p-3">
                        <i class="uil-prescription"></i>
                        <h3>@Model.TotalPrescruptions</h3>
                        <p class="lead">Total Prescriptions</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <div class="box bg-success p-3">
                        <i class="uil-bag"></i>
                        <h3>@Model.TotalBeds</h3> 
                        <p class="lead">Total Beds</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box bg-danger p-3">
                        <i class="uil-exclamation-triangle"></i>
                        <h3>@Model.TotalPatients</h3>
                        <p class="lead">Total Patients</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="charts mt-4">
            <div class="chart-container p-3">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/css/admin1.jpg" class="d-block w-100" alt="Dashboard Overview">
                        </div>
                        <div class="carousel-item">
                            <img src="~/css/admin2.jpg" class="d-block w-100" alt="User Statistics">
                        </div>
                        <div class="carousel-item">
                            <img src="~/css/admin3.jpg" class="d-block w-100" alt="Order Analytics">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="charts mt-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart-container rounded-2 p-3">
                        <h3 class="fs-6 mb-3">Logged Issues</h3>
                        <canvas id="monthlySignUpsChart"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="chart-container rounded-2 p-3">
                        <h3 class="fs-6 mb-3">Calendar</h3>
                        <canvas id="ordersOverviewChart"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
