@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_SurgeonLayout.cshtml";
}
@{
    string special = "@gmail.com", special1 = "@outlook.com", special2 = "@mandela.ac.za", special3 = "@nompilo.co.za";
    string name = User.Identity?.Name.ToString();
    if (name.ToLowerInvariant().Contains(special))
    {
        name = name.Replace(special, " ");
    }
    else if (name.ToLowerInvariant().Contains(special1))
    {
        name = name.Replace(special1, " ");
    }
    else if (name.ToLowerInvariant().Contains(special2))
    {
        name = name.Replace(special2, " ");
    }
    else if (name.ToLowerInvariant().Contains(special3))
    {
        name = name.Replace(special3, " ");
    }
}
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
        <img class="rounded-pill img-fluid"
             width="65"
             src=""
             alt="">
        <div class="ms-2">
            <h5 class="fs-6 mb-0">
                <a class="text-decoration-none" href="#">@name</a>
            </h5>

        </div>
    </div>

    <div class="search position-relative text-center px-4 py-3 mt-2">
        <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
        <i class="fa fa-search position-absolute d-block fs-6"></i>
    </div>

    <ul class="categories list-unstyled">
        <li class="has-dropdown">
            <i class="uil-estate fa-fw"></i><a asp-controller="Surgeon" asp-action="BookSurgery">&#128200;Book Surgery</a>
            @* i class="uil-estate fa-fw"></i><a asp-controller="Surgeon" asp-action="Confirm Surgery">&#128200;Confirm Surgery</a>
            <i class="uil-estate fa-fw"></i><a asp-controller="Surgeon" asp-action="ViewBookedPatients">&#128200; Booked Patients</a>
 *@
            @* <ul class="sidebar-dropdown list-unstyled">
                <li><a href="#">View Prescription</a></li>
                
            </ul> *@
        </li>
        @* <li>
            <i class="uil-estate fa-fw"></i>
            <a asp-controller="Surgeon" asp-action="ConfirmSurgery">&#128200;Confirm Surgery </a>
        </li>

        <li>
            <i class="uil-estate fa-fw">

            </i><a asp-controller="Surgeon" asp-action="ViewBookedPatients">&#128200; Booked Patients</a>
        </li>
 *@
        <li class="has-dropdown">

            <i class="uil-calendar-alt"></i><a asp-controller="Surgeon" asp-action="AddPrescription"> &#128138;Prescribe Medication</a>
            <ul class="sidebar-dropdown list-unstyled">
                <li><a href="#">Prescribe Medication</a></li>
                
            </ul>
        </li>
        <li class="has-dropdown">
            <i class="uil-envelope-download fa-fw"></i><a href="#"> &#128202;General</a>
            <ul class="sidebar-dropdown list-unstyled">
                <li><a href="#">Lorem ipsum</a></li>
                
            </ul>
        </li>
        <li class="has-dropdown">
            <i class="uil-envelope-download fa-fw"></i><a href="#"> &#128204;Reports</a>
            <ul class="sidebar-dropdown list-unstyled">
               
            </ul>
        </li>
        <li class="has-dropdown">
            <i class="uil-shopping-cart-alt"></i><a class="fas fa-sign-out-alt" href="#"> Log Out</a>
            <ul class="sidebar-dropdown list-unstyled">
                
            </ul>
        </li>
        @*<li class="has-dropdown">
        <i class="uil-bag"></i><a href="#"> Projects</a>
        <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
        </ul>
        </li>
        <li class="">
        <i class="uil-setting"></i><a href="#"> Settings</a>
        <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
        </ul>
        </li>
        <li class="has-dropdown">
        <i class="uil-chart-pie-alt"></i><a href="#"> Components</a>
        <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
        </ul>
        </li>
        <li class="has-dropdown">
        <i class="uil-panel-add"></i><a href="#"> Charts</a>
        <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
        </ul>
        </li>
        <li class="">
        <i class="uil-map-marker"></i><a href="#"> Maps</a>
        </li>*@
        @*<li class="logout">

        <div class="nav-item">
        <div asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link " style="color:whitesmoke"><i class="fas fa-sign-out-alt"></i>Logout</button>
        </div>
        </div>

        </li>*@
    </ul>
</aside>

<section id="wrapper">
    @* <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
    <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="uil-bars text-white"></i>
    </button>
    <a class="navbar-brand" href="#">admin<span class="main-color">kit</span></a>
    </div>
    <div class="collapse navbar-collapse" id="toggle-navbar">
    <ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
    <a class="dropdown-item" href="#">My account</a>
    </li>
    <li>
    <a class="dropdown-item" href="#">My inbox</a>
    </li>
    <li>
    <a class="dropdown-item" href="#">Help</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Log out</a></li>
    </ul>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="uil-comments-alt"></i><span>23</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="uil-bell"></i><span>98</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">
    <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>*@

    <div class="p-4">
        <div class="welcome">
            <div class="content rounded-3 p-3">
                <h1 class="navbar-brand" href="#">Surgeon<span class="main-color"> Dashboard</span></h1>

                <p class="mb-0">Hello @name</p>
            </div>
        </div>
        <section class="statis mt-4 text-center">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="box bg-primary p-3">
                        <i class="fa-solid fa-capsules"></i>
                        <h3>1000+</h3>
                        <p class="lead">Medication</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="box bg-danger p-3">
                        <i class="uil-user"></i>
                        <h3>5</h3>
                        <p class="lead"> Prescriptions</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <div class="box bg-primary p-3">
                        <i class="uil-shopping-cart"></i>
                        <h3>20+</h3>
                        <p class="lead">Theatres</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box bg-success p-3">
                        <i class="uil-feedback"></i>
                        <h3>8</h3>
                        <p class="lead">Admitted Patients</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="charts mt-4">
            <div class="chart-container p-3">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/css/pic01.jpg" class="d-block w-100" alt="Oops, No Found">
                        </div>
                        <div class="carousel-item">
                            <img src="~/css/pic02.jpg" class="d-block w-100" alt="Oops, No Found">
                        </div>
                        <div class="carousel-item">
                            <img src="~/css/pic03.jpg" class="d-block w-100" alt="Oops, No Found">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        @*<section class="statistics mt-4">
        <div class="row">
        <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
        <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
        <div class="ms-3">
        <div class="d-flex align-items-center">
        <h3 class="mb-0">1,245</h3> <span class="d-block ms-2">Emails</span>
        </div>
        <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
        </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
        <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
        <div class="ms-3">
        <div class="d-flex align-items-center">
        <h3 class="mb-0">34</h3> <span class="d-block ms-2">Projects</span>
        </div>
        <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
        </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center p-3">
        <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
        <div class="ms-3">
        <div class="d-flex align-items-center">
        <h3 class="mb-0">5,245</h3> <span class="d-block ms-2">Users</span>
        </div>
        <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
        </div>
        </div>
        </div>
        </div>
        </section>*@

        <section class="charts mt-4">
            <div class="row">
                <div class="col-lg-6">

                    <div class="chart-container rounded-2 p-3">
                        <a>
                            <h3 class="fs-6 mb-3">Click to view work schedule</h3>
                            <img src="~/css/dr.jpeg" class="d-block w-100" alt="Oops, No Found">
                        </a>
                        <canvas id="Prescribed "></canvas>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="chart-container rounded-2 p-3">
                        <h3 class="fs-6 mb-3">Click here to view latest updates</h3>
                        <img src="~/css/PharmaUpd.png" class="d-block w-100" alt="Oops, No Found">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </section>

        @*<section class="admins mt-4">
        <div class="row">
        <div class="col-md-6">
        <div class="box">
        <!-- <h4>Admins:</h4> -->
        <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907137/small/1501685404/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        <div class="admin d-flex align-items-center rounded-2 p-3">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907019/small/1501685403/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="box">
        <!-- <h4>Moderators:</h4> -->
        <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907086/small/1501685404/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        <div class="admin d-flex align-items-center rounded-2 p-3">
        <div class="img">
        <img class="img-fluid rounded-pill"
        width="75" height="75"
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
        alt="admin">
        </div>
        <div class="ms-3">
        <h3 class="fs-5 mb-1">Joge Lucky</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>*@

        @*<section class="statis mt-4 text-center">
        <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="box bg-primary p-3">
        <i class="uil-eye"></i>
        <h3>5,154</h3>
        <p class="lead">Waiting Prescription</p>
        </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="box bg-danger p-3">
        <i class="uil-user"></i>
        <h3>245</h3>
        <p class="lead">Urgent Prescription</p>
        </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <div class="box bg-warning p-3">
        <i class="uil-shopping-cart"></i>
        <h3>5,154</h3>
        <p class="lead">Stock Limit Reached</p>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
        <div class="box bg-success p-3">
        <i class="uil-feedback"></i>
        <h3>5,154</h3>
        <p class="lead">Transactions</p>
        </div>
        </div>
        </div>
        </section>*@


    </div>
</section>
